*::-webkit-scrollbar {
  display: none;
}
canvas{
  height: 300px !important;
  width: 300px !important;
}
#talk{
  position: absolute !important;
  bottom: 0 !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;